python-3.9.18
ipykernel==6.29.5
scikit-learn==1.6.1           ### To match py3.9
pandas==2.3.0                 ### To match py3.9
matplotlib==3.9.4             ### To match py3.9
requests==2.32.4
python-dotenv==1.1.0
Flask==3.1.1
Flask-SQLAlchemy
flask-login
lightfm
streamlit==1.46.0
torch==2.7.1